<<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
<head>
	<meta charset="UTF-8">
	<title>Angular JS Demo</title>
	<script src="lib/angular.min.js"></script>
	 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	 <script src="js/controllers.js"></script>
</head>
<body>
	<input type="text" ng-model= "name"> <br/>
	<h1>Welcome {{name}}</h1>

	<div ng-controller="GreetingController">
		<h1>{{ greeting + name | uppercase}}</h1>
	</div>

	<div ng-controller="MyController">
		<h1>{{author.name }}</h1>
		<p>{{author.title }}</p>
		<p>{{author.compnay }}</p>
	</div>

	<div ng-controller="DataController">
		<li class="developer" ng-repeat="dev in developer">
			<h2>{{dev.name}}</h2>
			<p>{{dev.title + " " + dev.compnay }}</p>
		</li>
	</div>


</body>
</html>